body { margin:0;
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
}
h1 {
	font-size: 90px;
	
font-family: 'Sacramento', cursive;
color: 17c3b2;
  
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color: 17c3b2;
}
h3 { 
font-family: 'Montserrat', sans-serif;
color: 17c3b2;
}
hr {
	border: dotted #495057 6px;
 border-bottom: none;
 width: 4%;
 margin: 100px auto;
}
	

	a {
		color: white;
		font-family: 'Montserrat', sans-serif;
		margin: 10px 20px;
		
	}

.top-container { background-color:#EFFFFD;
padding:100px;

}
 .middle-container { 
 }

.bottom-container { 
background-color: 66BFBF;
padding: 50px 0 20px;
}
.bottom-cloud {
	position:absolute;
	left: 400px;
	bottom: 600px;
	
}
.top-cloud {
	position:absolute;
	right: 500px;
	top: 50px;
}
.first-para {
	position: absolute;
	left: 650px;
	
	
}
.skill-row {
	width: 50%;
	margin: 100px auto 100px  auto;
	text-align: left;
	line-height:2;
}
.profile {
	width: 50%;
	margin: 100px auto 100px  auto;
	
}

.graphic-design {
	width: 50%;
	margin: 100px auto 100px  auto;
	text-align: right;
	line-height:2;
}
.intro {
	width: 30%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me {
	width: 50%;
	margin: 100px auto 100px  auto;
}